/* bookings */
.booking{
    height: 78vh;
}

.booking .bg-overlay{
    background: url('../../../public/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: var(--align-items);
    background-size: cover;
    position: relative;
    height: var(--primary-height);
    color: var(--primary-color);
}

.booking .bg-overlay .overlay{
    background-color: rgba(51,33,29,0.88);
}

.booking .booking-content{
    height: var(--primary-height);
    width: var(--primary-width);
    position: absolute;
    top: 0;
    left: 0;
}

.booking .booking-content .reservation{
    width: 45%;
    margin: 0 auto;
}

.booking .booking-content .reservation h1:nth-of-type(1){
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 10px 0;
    word-wrap: normal;
    text-transform: uppercase;
}

.booking .booking-content .reservation h1:nth-of-type(2){
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px 0;
    word-wrap: break-word;
    color: var(--primary-color);
    line-height: 1.5;
}

.booking .booking-content .reservation p{
    font-size: var(--secondary-font-size);
    margin: 15px 0;
    line-height: 1.4;
}

.booking .booking-content .reservation .list .list-item{
    font-size: var(--secondary-font-size);
    margin: 0;
    color: var(--primary-color);
}

.booking .booking-content .form-group{
    width: 45%;
    height: var(--primary-height);
    background-color:rgba(51,33,29,0.88);
}

.booking .booking-content .form-group h1{
    font-size: 2.5rem;
    display: block;
    text-align: var(--align-items);
    margin: 30px auto;
    margin-bottom: 10px;
}

.booking .booking-content .form-group.flex{
    flex-direction: column;
    justify-content: var(--align-items);
    align-items: flex-start;
    text-align: var(--align-items);
}

.booking .booking-content .form-group .my-Form{
    width: 90%;
    margin: 0 auto;
    text-align: var(--align-items);

}

.booking .booking-content .form-group .my-Form input,
.booking .booking-content .form-group .my-Form select{
    font-size: 1.1rem;
    display: block;
    width: var(--primary-width);
    height: 47px;
    margin: 15px 0;
    padding: 10px;
    background-color: transparent;
    color: #495057;
    border: 1px solid var(--secondary-color);
}

.booking .booking-content .form-group .my-Form input::placeholder{
    color: #474747;
}

.booking .booking-content .form-group .my-Form input:focus,
.booking .booking-content .form-group .my-Form select:focus{
    outline: none;
    border: 2px solid #a3815a;
}

.booking .booking-content .form-group .my-Form .btn-submit{
    background-color: var(--secondary-color);
    height: 60px;
    color: #212529;
    cursor: pointer;
    font-weight: 500;
}


/* media query */
/* tablte */

@media screen and (max-width: 768px){
    .booking{
        height: 170vh;
    }

    .booking .container{
        width: 90%;
        margin: 0 auto;
    }

    .booking .booking-content.flex {
        flex-direction: column;
        /* justify-content: center;
        align-items: flex-start; */
    }

    .booking .booking-content .reservation{
        width: 85%;
        margin: 70px auto;
    }

    .booking .booking-content .reservation h1:nth-of-type(1){
        font-size: 55.5px;
        font-weight: 700;
        margin: 2px 0;
    }

    .booking .booking-content .reservation h1:nth-of-type(2){
        font-size: 33.5px;
        margin: 2px 0;
    }

    .booking .booking-content .form-group{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color:rgba(51,33,29,0.88);
    }

    .booking .booking-content .form-group h1{
        font-size: 33.5px;
        margin: 20px auto;
    }

    .booking .booking-content .form-group .my-Form{
        width: 85%;
        margin: 0 auto;
    }
}

/* mobile large */

@media screen and (max-width: 425px){
    .booking{
        height: 180vh;
    }
    .booking .container{
        width: 85%;
        margin: 0 auto;
    }
    .booking .booking-content .reservation{
        width: 80%;
        margin: 0 auto;    
    }
    .booking .booking-content .reservation h1:nth-of-type(1){
        font-size: 41.5px;
        margin-top: 30px;
    }
    .booking .booking-content .reservation h1:nth-of-type(2){
        font-size: 28.5px;
        line-height: 1.3;
    }

    .booking .booking-content .reservation p{
        font-size: 1.095rem;
        line-height: 1.8;
    }
    .booking .booking-content .form-group .my-Form{
        width: 80%;
        margin: 0 auto;
    }

}

/* mobile small */

@media screen and (max-width: 375px){
    .booking{
        height: 190vh;
    }
    .booking .booking-content .reservation .list .list-item{
        font-size: 1rem
    }
}